html,body,ul,li{
    margin:0;
    padding:0;
    list-style:none;
}
body{
    font-family:"微软雅黑";
}
.section:nth-child(1){
    background:url(../images/section1.jpg);
}
.section:nth-child(2){
    background:url(../images/section2.jpg);
}
.section:nth-child(3){
    background:url(../images/section3.jpg);
}
.section:nth-child(4){
    background:url(../images/section4.jpg);
}
.section:nth-child(5){
    background:url(../images/section5.jpg);
}
.section:nth-child(6){
    background:url(../images/section6.jpg);
}
.section:nth-child(7){
    background:url(../images/section7.jpg);
}
.section:nth-child(8){
    background:url(../images/section8.jpg);
}
.section:nth-child(9){
    background:url(../images/section9.jpg);
}
.section:nth-child(10){
    background:url(../images/section10.jpg);
}

/*第一屏*/
.bg11{
    width:100%;
    height:825px;
    background:url(../images/bg11.png) no-repeat;
    position: absolute;
    bottom:0;
    transition: all 1s;
}
.bg12{
    width:100%;
    height:392px;
    background:url(../images/bg12.png) no-repeat;
    position: absolute;
    bottom:90px;
    opacity: 0; transition: all 1.7s;
}
.active .bg12 {
    bottom:100px;
    opacity: 1;
    transition-delay: 0.7s;
}
.bg13{
    width:100%;
    height:377px;
    background:url(../images/bg13.png) no-repeat;
    position: absolute;
    bottom: -377px;
    transition: all 1s;
}
.active .bg13 {
    bottom:0;
    opacity: 1;
    transition-delay: 0.7s;
}
.mail{
    width:100%;
    height:100px;
    background:url(../images/logo.png) no-repeat 50%;
    position: absolute; top: -26px;
}
.active .mail {
    top: 25px;
    transition-delay: 0.7s;
}
.center{
    width:100%;
    height:100%;
    background:url(../images/slogan.png) no-repeat 50%;
    position: absolute;bottom:80px;
    opacity: 0; -webkit-transform:scale(0.5, 0.5); transform:scale(0.5, 0.5); transition: all 1s;
}
.active .center{
    opacity: 1;
    -webkit-transform:scale(1, 1);
    transform:scale(1, 1);
    transition-delay: 0.7s;
}
.p1{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 600px;
    margin: 0 0 0 -280px;
    font-size: 14px;
    color: #fff;
    opacity: 0; transition: all 0.5s;
}
.active .p1 {
    opacity: 1;
    transition-delay: 1.7s;
}
/*第二屏*/
.bg21{
    width:819px;
    height:250px;
    background:url(../images/bg21.png) no-repeat;
    position: absolute;
    left:80px;
    transition: all 1s;  opacity: 0;
}
.active .bg21 {
    opacity: 1;
    margin-left:8px;
    transition-delay: 0.7s;
}
.bg22{
    width:819px;
    height:299px;
    background:url(../images/bg22.png) no-repeat;
    position:absolute;
    left:1000px;top:28%;
    transition: all 1s;  opacity: 0;
}
.active .bg22 { margin-left:80px;
    opacity: 1;
    transition-delay: 0.7s;
}
.bg23{
    width:819px;
    height:325px;
    background:url(../images/bg23.png) no-repeat 50%;
    position: absolute;
    left:20%;bottom:-50%;
    transition: all 1s;
}
.active .bg23 {
    bottom:15%;
    transition-delay: 0.7s;
}
strong{
    position: absolute;
    left: 50%;
    top: 15%;
    z-index: 10;
    width: 512px;
    height: 45px;
    margin-left: -256px;
    font-size: 24px;
    font-weight: 500;
    color: #748A9E;
}
.t2{
    width:100%;height:45px;
    background:url(../images/t2.png) no-repeat 50%;
    position: absolute;
    top:150px;
}
.p2{
    position: absolute;
    left: 50%;
    top:35%;
    width: 510px;
    margin-left: -255px;
    margin-top: 130px;
    font-size: 16px;
    color: #727F8C;
}
/*第三屏*/
.bg31{
    width:892px;  height:472px;
    background:url(../images/bg31.png) no-repeat;
    position: absolute;left:20%;top:85px;
    transition: all 1s;opacity: 0;
}
.bg32{
    width:892px; height:472px;
    background: url(../images/bg32.png) 470px bottom no-repeat;
    position: absolute;left:20%; bottom:0;
    transition: all 1s;opacity: 0;
}
.active .bg31, .active .bg32 {
    opacity: 1;
    transition-delay:1s;
}
.bg33{
    width: 441px; height: 380px;
    background: url(../images/bg33.png) 0 0 no-repeat;
    position: absolute; left:40%; bottom: 0;
    transition: all 1s;opacity: 0;
}
.active .bg33 { margin-left: -120px; opacity: 1; transition-delay: 0.7s;}
.t3{
    width:100%;height:45px;
    background:url(../images/t3.png) no-repeat 50%;
    position: absolute;
    left:-10px;
    top:150px;
}
.p3{
    position: absolute;
    width: 430px;
    left:15%;
    top: 15%;
    margin-top: 250px;
    font-size: 16px;
    color: #FFFDE1;transition: all 1s;
}
.active .p3 { margin-left: -120px; opacity: 1; transition-delay: 0.7s;}
/*第四屏*/
.bg41{
    width: 100%; height: 372px;
    background: url(../images/bg41.png) 50% 0 no-repeat;
    position: absolute;bottom: -372px;transition: all 1s;
}
.active .bg41 { bottom: 15%; transition-delay: 0.7s;}
.bg42{
    width: 100%; height: 449px;
    background: url(../images/bg42.png) 50% 0 no-repeat;
    position: absolute;bottom: -449px;transition: all 1s;
}
.active .bg42 { bottom: 15%; transition-delay: 1.1s;}
.bg43{
    width: 100%; height: 449px;
    position: absolute; bottom: -449px;
    background: url(../images/bg43.png) 50% 0 no-repeat;
    transition: all 1s;
}
.active .bg43 { bottom: 15%; transition-delay: 0.9s;}
.t4{
    width:100%;height:45px;
    background:url(../images/t4.png) no-repeat 50%;
    position: absolute;
    left:-10px;
    top:150px;
}
.p4{
    position: absolute;
    left: 50%;
    top: 15%;
    width: 510px;
    margin-left: -255px;
    margin-top: 130px;
    font-size: 16px;
    color: #727F8C;
}
/*第五屏*/
.t5{
    width:100%;height:45px;
    background:url(../images/t5.png) no-repeat 50%;
    position: absolute;
    left:-10px;
    top:150px;
}
.section:nth-child(5) h4 {
    margin-bottom:12px;
    font-size: 23px;
    font-weight: 500;
}
.section:nth-child(5) p {
    font-size: 14px;
}
.bg51, .bg52, .bg53, .bg54 {
    z-index: 1;
    width: 208px;
    padding-top:210px;
    color: #fff;
    float: left;
}
.bg51{
    margin-left:140px;
    background: url(../images/bg51.png) 50% 0 no-repeat;
    opacity: 0; transition: all 1s;
}
.bg52{
    margin-left:100px;
    background: url(../images/bg52.png) 50% 0 no-repeat;
    opacity: 0; transition: all 1s;
}
.bg53{
    margin-left:100px;
    background: url(../images/bg53.png) 50% 0 no-repeat;
    opacity: 0; transition: all 1s;
}
.bg54{
    margin-left:60px;
    background: url(../images/bg54.png) 50% 0 no-repeat;
    opacity: 0; transition: all 1s;
}
.active .bg51 { margin-left: 161px; opacity: 1; transition-delay: 0.7s;}
.active .bg52 { margin-left: 53px; opacity: 1; transition-delay: 0.7s;}
.active .bg53 { margin-left: 45px; opacity: 1; transition-delay: 0.7s;}
.active .bg54 { margin-left: 45px; opacity: 1; transition-delay: 0.7s;}
/*第六屏*/
.bg61{
    width: 100%; height: 545px;
    background: url(../images/bg61.png) 50% 0 no-repeat;
    position: absolute;bottom: -454px;transition: all 1s;
}
.active .bg61 { bottom:100px; transition-delay: 0.7s;}
.bg62{
    width: 100%; height: 545px;
    background: url(../images/bg62.png) 50% 0 no-repeat;
    position: absolute; left:-20%; bottom:-20%;transition: all 1s;
}
.active .bg62 { left:-10%; opacity: 1; transition-delay: 0.7s;}
.t6{
    width:100%;height:45px;
    background:url(../images/t6.png) no-repeat 50%;
    position: absolute;
    left:-10px;
    top:150px;
}
.txt6{
    position: absolute;
    left:50%;
    bottom: 20%;
    width: 447px;
    margin-left: 90px;
    transition: all 1s;opacity:0;
}
.active .txt6 { left: 50%; opacity: 1; transition-delay: 0.7s;}
.txt6 p{
    margin-bottom: 17px;
    color: #5C7970;
}
/*第七屏*/
.bg71{
    width: 699px; height: 201px;
    position: absolute; left:5%;bottom:38%;
    background: url(../images/bg71.png) 50% 0 no-repeat;
    opacity: 0; transition: all 1s;
}
.active .bg71 { bottom: 250px; opacity: 1; transition-delay: 0.7s;}
.bg72 {
    width: 182px; height: 206px;
    background: url(../images/bg72.png) 50% 0 no-repeat;
    position: absolute; left:70%; bottom:30%;
    opacity: 0; transition: all 1s;
}
.active .bg72 { bottom: 350px; opacity: 1; transition-delay: 0.9s;}
.bg73 {
    width: 651px; height: 231px;
    background: url(../images/bg73.png) 50% 0 no-repeat;
    position: absolute; left:10%; bottom: 170px;
}
.bg74 img {
    width: 100%; height: 251px;
    position: absolute; left: 0; bottom: 0;
}
.t7{
    width:100%;height:45px;
    background:url(../images/t7.png) no-repeat 50%;
    position: absolute;
    left:-10px;
    top:150px;
}
.txt7{
    position: absolute;
    left:50%;
    bottom: 20%;
    width: 447px;
    margin-left: 90px;
    z-index: 99;
    color:#fff;
    opacity: 0; transition: all 1s;
}
.active .txt7 { bottom:200px; opacity: 1; transition-delay: 1.1s;}
/*第八屏*/
.bg81 {
    position: absolute; width: 100%; bottom: 100px; height: 215px;
    background: url(../images/bg81.png) 50% 0 no-repeat;
}
.bg82 {
    position: absolute; left:30%; bottom:300px;
    width: 164px; height: 117px;
    background-image: url(../images/bg82.png);
    opacity: 0; transition: all 1s;
}
.active .bg82 { bottom: 260px; margin-left:-80px; opacity: 1; transition-delay: 0.7s;}
.bg83 {
    position: absolute; left: 20%; bottom:440px;
    width: 70px; height: 29px;
    background-image: url(../images/bg83.png);
    opacity: 0; transition: all 1s;
}
.active .bg83 { bottom: 380px; margin-left:-30px; opacity: 1; transition-delay: 1s;}
.bg84 {
    position: absolute; left: 10%; bottom:500px;
    width: 43px; height: 26px;
    background-image: url(../images/bg84.png);
    opacity: 0; transition: all 1s;
}
.active .bg84 { bottom: 420px; margin-left:-10px; opacity: 1; transition-delay: 1.2s;}
.p8 {
    position: absolute; left: 50%; top: 15%;
    width: 565px; margin-left: -282px; margin-top: 130px;
    font-size: 16px; color: #727F8C;
    opacity: 0; transition: all 1s;
}
.active .p8 { opacity: 1; transition-delay: 1.7s;}
.t8{
    width:100%;height:45px;
    background:url(../images/t8.png) no-repeat 50%;
    position: absolute;
    left:-10px;
    top:150px;
}
/*第九屏*/
.t9{
    width:100%;height:45px;
    background:url(../images/t9.png) no-repeat 50%;
    position: absolute;
    left:-10px;
    top:150px;
    z-index:99;
}
.section:nth-child(9) h3 span{
    width:89px;height:90px;
    background:url(../images/yixin.png);
    position: absolute;
    top:100px;left:20%;
    z-index:99;
}
.bg91, .bg92, .bg93 {
    padding-top: 350px; font-size: 16px; color: #fff;
}
.bg91 {
    position: absolute; left:10%; bottom: 15%;
    width: 340px;
    background: url(../images/bg91.png) 0 0 no-repeat;
    opacity: 0; transition: all 1s;
}
.active .bg91 { margin-left:-30px; opacity: 1; transition-delay: 0.7s;}
.bg91 p {
    position: relative; left: 20px;
    margin-left: 40px;
    border-right: 1px solid #13AB86;
}
.bg92 {
    position: absolute; left: 40%; bottom: 15%;
    width: 340px;
    background: url(../images/bg92.png) 50% 0 no-repeat;
    opacity: 0; transition: all 1s;
}
.active .bg92 { opacity: 1; transition-delay: 0.8s;}
.bg92 p {
    position: relative; left: 40px; margin-left: 30px;
}
.bg93 {
    position: absolute; left:70%; bottom: 15%;
    width: 340px;
    background: url(../images/bg93.png) 50% 0 no-repeat;
    opacity: 0; transition: all 1s;
}
.active .bg93 { margin-left:-30px; opacity: 1; transition-delay: 0.7s;}
.bg93 p {
    position: relative; left: -20px; padding-left: 100px; border-left: 1px solid #13AB86;
}
/*第十屏*/
.bg101 {
    position: absolute; top:0;
    width: 100%; height: 100%;
    background: url(../images/bg101.png) 50%  no-repeat;
}
.bg102 {
    position: absolute; width: 100%; top: 25%; height: 79px;
    background: url(../images/bg102.png) 50% 0 no-repeat;
    opacity: 0; -webkit-transform:scale(0.5, 0.5); transform:scale(0.5, 0.5); transition: all 1s;
}
.bg103 {
    position: absolute; width: 100%; top: 25%; height: 37px;
    margin-top: 110px;
    background: url(../images/bg103.png) 50% 0 no-repeat;
    opacity: 0; -webkit-transform:scale(0.5, 0.5); transform:scale(0.5, 0.5); transition: all 1s;
}
.go {
    position: absolute; left: 50%; top:35%;
    width: 254px; height: 70px; margin-top: 220px;
    margin-left: -127px; text-indent: -9999px;
    background-image: url(../images/btn.png);
    opacity: 0; transition: all 1s;
}
.active .bg102, .active .bg103 { opacity: 1; -webkit-transform:scale(1, 1); transform:scale(1, 1); transition-delay: 0.7s;}
.active .go { top: 25%; opacity: 1; transition-delay: 1.2s;}
.copyright {
    position: absolute; left: 0; bottom: 20px;
    width: 100%; text-align: center; font-size: 0;
}
.copyright a, .copyright span {
    margin: 0 7px; font-size: 12px; color: #000;
}
.copyright a{
    text-decoration:underline;
}
.copyright a:hover{
    color:#000;
}
/*侧边*/
#myMenu{
    position: fixed;
    top:25%;
    right:30px;
    z-index:99;
}
#myMenu li{
    width: 90px;
    height: 21px;
    margin: 10px 0 0;
    vertical-align: middle;
}
#myMenu li a{
    float: right;
    width: 21px;
    height: 21px;
    color: #8F9DA4;
    text-decoration: none;
    text-align: right;
    background: url(../images/dot.png) 5px 5px no-repeat;
}
#myMenu li.active a{
    background:url(../images/dot.png) 0 bottom no-repeat;
}